<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>

    <section id="header" class="section-p1">
        <a href="/"><img src="static/images/logos/logo.png" alt="logo" class="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="store">Store</a></li>                
                <li><a class="active" href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></i></a></li>
            </ul>
        </div>

    </section>

    <section id="about-header" class="section-p1">
        <div>
            <h2>Know About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, veritatis?</p>
        </div>
    </section>

    <section id="about-content" class="section-p1">
        <div class="about-text">
            <h2>Our Story - Who Are We?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, aliquam ducimus. Vel distinctio, quam eos atque, sed alias obcaecati ratione itaque debitis soluta rerum minus sunt ullam delectus incidunt quia reiciendis natus aut.ut velit, est quod quam earum deleniti magnam laborum? Adipisci quisquam nulla labore earum iste est iusto voluptate molestias impedit ipsam, tempora alias commodi nostrum aut! Ducimus minus blanditiis, ullam consectetur laboriosam unde dolorem accusamus soluta qui voluptatibus vel fuga optio illum id cum! Velit quisquam voluptatum error numquam, qui quasi praesentium tenetur excepturi hic dignissimos facilis rerum, illum esse atque corrupti ab. Ipsam iure officiis sequi minima earum repellat qui magnam distinctio aspernatur. Magnam id quis delectus nobis vero, porro adipisci dolore aspernatur quos natus, ex mollitia pariatur beatae consequatur laboriosam ipsam ea! In, vel aut?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, veritatis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita blanditiis, natus et delectus pariatur consequatur exercitationem quas perferendis doloremque. Perspiciatis suscipit ipsa consequatur, cumque eos soluta corporis! Reprehenderit laboriosam officia beatae impedit mollitia. Porro magnam sapiente minima error reiciendis, totam vel atque suscipit consecte</p>
        </div>

        <div class="about-image">
            <img src="static/images/banners/b7.jpg" alt="about image">
        </div>
    </section>

    <section id="downloads" class="section-p1">
        <div>
            <h1>Download Our <a class="app" href="#">App</a></h1>
            <p>Get the best deals and offers on our app</p>
            
            <div class="app-ss">
                <img src="/static/images/banners/s1 (1).jpg" alt="">
                <img src="/static/images/banners/s1 (2).jpg" alt="">
                <img src="/static/images/banners/s1 (3).jpg" alt="">
                <img src="/static/images/banners/s1 (4).jpg" alt="">
            </div>
        </div>
    </section>

    <section id="features" class="section-p1">

        <div class="fe-box">
            <img src="/static/images/illustrations/collections.png" alt="Great Collections">
            <h5>Great Collections</h5>
        </div>

        <div class="fe-box">
            <img src="/static/images/illustrations/deals.png" alt="Amazing Deals">
            <h5>Amazing Deals</h5>
        </div>

        <div class="fe-box">
            <img src="/static/images/illustrations/delivery.png"  alt="Free and Fast Shipping">
            <h5>Free and Fast Shipping</h5>
        </div>
        
        <div class="fe-box">
            <img src="/static/images/illustrations/services.png" alt="Customer Support 24/7<">
            <h5>Customer Support 24/7</h5>
        </div>

        <div class="fe-box">
            <img src="/static/images/illustrations/reviews.png" alt="Great Reviews">
            <h5>Reviews</h5>
        </div>

    </section>
    
    <section id="newsletter" class="section-p1 section-m1">
        <div>
            <h2>Subscribe to our Newsletter</h2>
            <p>Get the latest updates on new products and upcoming sales</p>
        </div>
        <form action="">
            <input type="email" placeholder="Enter your email">
            <button class="button" style="vertical-align:middle"><span>Subscribe</span></button>
        </form>
    </section>

    <footer class="section-p1">
        <div class="logo">
            <a href="/"><img src="static/images/logos/logo.png" alt="logo" class="logo"></a>
        </div>

        <div class="footer-column">
            <div class="address">
                <h4>Contact</h4>
                <p><strong>Address: </strong> 1234 Baskin-Street, Sharjah, United Arab Emirates</p>
                <p><strong>Phone: </strong> +971 522 774 769</p>
                <p><strong>Email: </strong> touseefahmed0707@gmail.com</p>
                <p><strong>Hours: </strong> 8:00am - 12:00pm</p>
            </div>
    
            <div class="socials">
                <h4>Follow Us</h4>
                <div class="icon-links">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: aquamarine;"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter" style="color: aquamarine;"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color: aquamarine;"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in" style="color: aquamarine;"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <h4>About</h4>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>My Account</h4>
            <ul>
                <li><a href="profile.html">Sign in</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Install App</h4>
            <h5>From App Store or Google Play</h5>
            <div class="icon-links">
                <div class="icon-box">
                    <a href="#"><i class="fab fa-apple" style="color: aquamarine;"></i></a>
                    <p>Download in the App Store</p>
                </div>
                
                <div class="icon-box">
                    <a href="#"><i class="fab fa-google-play" style="color: aquamarine;"></i></a>
                    <p>Get in on PlayStore</p>
                </div>
            </div>
            <h5>Secured Payment Gateways</h5>
            <div class="icon-links">
                <a href="#"><i class="fab fa-cc-visa" style="color: aquamarine;"></i></a>
                <a href="#"><i class="fab fa-cc-mastercard" style="color: aquamarine;"></i></a>
                <a href="#"><i class="fab fa-cc-paypal" style="color: aquamarine;"></i></a>
            </div>
        </div>
    </footer>
    
    <section id="copyright">
        <p>&copy; 2021 Glamify. All Rights Reserved</p>
    </section>


    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>

    <script src="static/js/home.js"></script>
    <script src="https://kit.fontawesome.com/a1597cdc8f.js" crossorigin="anonymous"></script>
</body>
</html>