{% extends 'base.html' %}
{% block title %} <title>About</title> {% endblock %}
{% block css_file %} <link rel="stylesheet" href="static/css/about.css">{% endblock %}


{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a class="active" href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><ahref="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></ahref=></li>
{% endif %}

{% endblock %}

{% block maincontent %}

    <section id="about-header" class="section-p1">
        <div>
            <h2>Know About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, veritatis?</p>
        </div>
    </section>

    <section id="about-content" class="section-p1">
        <div class="about-text">
            <h2>Our Story - Who Are We?</h2>
            <p>Welcome to Glamify, your ultimate online destination for fashion enthusiasts seeking unparalleled style and sophistication. At Glamify, we pride ourselves on offering a meticulously curated selection of clothing and accessories that cater to every aspect of your wardrobe needs.</p>

            <p>Explore our vast collection, meticulously handpicked by our expert stylists, encompassing a wide array of styles, from chic and trendy to timeless classics. Whether you're looking for the perfect ensemble to make a statement at a special event, or simply seeking everyday essentials that effortlessly blend comfort and style, Glamify has something for everyone.</p>

            <p>Our commitment to quality extends beyond just the products we offer. With an intuitive and user-friendly website design, navigating through our extensive catalog is a breeze. Plus, our secure checkout process ensures a seamless and worry-free shopping experience from start to finish.</p>

            <p>But Glamify isn't just about providing you with fabulous fashion finds—it's also about empowering you to express your unique style and personality. That's why we regularly update our collections to reflect the latest trends and fashion-forward designs, ensuring that you always stay ahead of the curve.</p>

            <p>And it doesn't end there. At Glamify, we understand the importance of excellent customer service. Our dedicated team is always ready to assist you with any questions or concerns, providing personalized recommendations and guidance to help you find the perfect pieces to complement your individual style.</p>

            <p>So why wait? Discover the world of Glamify today and redefine your fashion journey with confidence, creativity, and unparalleled style.</p>
        </div>

        <div class="about-image">
            <img src="static/images/banners/b7.jpg" alt="about image">
        </div>
    </section>

    
    <section id="services" class="section-p1">
        <h1>Services We Offer</h1>
        <div id="features">
        
            <div class="about-services">
                <div class="fe-box">
                    <img src="/static/images/illustrations/collections.png" alt="Great Collections">
                    <h5>Great Collections</h5>
                </div>
                <p>Discover an array of exquisite garments, meticulously curated to reflect elegance and style. Our collection boasts timeless pieces crafted with precision, offering unparalleled sophistication and charm for every occasion.</p>
            </div>
            
            <div class="about-services">
                <div class="fe-box">
                    <img src="/static/images/illustrations/deals.png" alt="Amazing Deals">
                    <h5>Amazing Deals</h5>
                </div>
                <p>Explore amazing deals on a wide range of fashion items. From seasonal discounts to exclusive offers, our deals section is your gateway to incredible savings without compromising on style.</p>
            </div>
            
            <div class="about-services">
                <div class="fe-box">
                    <img src="/static/images/illustrations/delivery.png"  alt="Free and Fast Shipping">
                    <h5>Free and Fast Shipping</h5>
                </div>
                <p>Enjoy the convenience of free and fast shipping on all orders. We prioritize delivering your favorite fashion finds to your doorstep swiftly and efficiently, ensuring you get your items when you need them.</p>
            </div>
            
            <div class="about-services">
                <div class="fe-box">
                    <img src="/static/images/illustrations/services.png" alt="Customer Support 24/7">
                    <h5>Customer Support 24/7</h5>
                </div>
                <p>Experience exceptional customer support round the clock. Our dedicated team is available 24/7 to assist you with any inquiries, concerns, or assistance you may require, ensuring a seamless shopping experience.</p>
            </div>
            
            <div class="about-services">
                <div class="fe-box">
                    <img src="/static/images/illustrations/reviews.png" alt="Great Reviews">
                    <h5>Reviews</h5>
                </div>
                <p>Read what our customers have to say about their experiences with us. With glowing reviews from satisfied shoppers, you can shop with confidence, knowing you're choosing a retailer trusted by many.</p>
            </div>            

    </section>
    <section id="policies" class="section-p1">
        <div id="privacy-policy" class="pptc">
            <h2>Privacy Policy</h2>
            <p>At Glamify, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and protect the information you provide to us when using our website.</p>
    
            <h3>Information We Collect</h3>
            <p>When you visit our website, we may collect certain information about your visit, such as your IP address, browser type, and operating system. We also collect personal information that you voluntarily provide to us, such as your name, email address, and phone number, when you create an account or make a purchase.</p>
    
            <h3>How We Use Your Information</h3>
            <p>We use the information we collect to improve our website and services, process your orders, communicate with you about your orders and account, and provide you with a personalized shopping experience. We may also use your information to send you promotional emails or newsletters, but you can opt out of receiving these communications at any time.</p>
    
            <h3>Information Sharing</h3>
            <p>We may share your personal information with third-party service providers who assist us in operating our website, processing payments, and delivering orders. We do not sell or rent your personal information to third parties for their marketing purposes.</p>
    
            <h3>Security</h3>
            <p>We take the security of your personal information seriously and have implemented measures to protect it from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, so we cannot guarantee absolute security.</p>
    
            <h3>Changes to this Privacy Policy</h3>
            <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this Privacy Policy periodically.</p>
    
            <h3>Contact Us</h3>
            <p>If you have any questions or concerns about our Privacy Policy, please contact us at glamify@info.com.</p>
        </div>
        <div id="TermsConditions" class="pptc">
            <h2>Terms and Conditions</h2>
            <p>Welcome to Glamify! By accessing our website, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms carefully before using our website. If you do not agree to these terms, you should not use our website.</p>
    
            <h3>Use of Our Website</h3>
            <p>Our website is intended for personal, non-commercial use. You may not use our website for any illegal or unauthorized purpose, and you agree to comply with all applicable laws and regulations.</p>
    
            <h3>Intellectual Property</h3>
            <p>All content on our website, including text, images, graphics, logos, and software, is the property of Glamify and is protected by copyright and other intellectual property laws. You may not use, reproduce, or distribute any content from our website without our prior written consent.</p>
    
            <h3>Links to Third-Party Websites</h3>
            <p>Our website may contain links to third-party websites that are not owned or controlled by Glamify. We are not responsible for the content or privacy practices of these websites and encourage you to review their terms and privacy policies.</p>
    
            <h3>Limitation of Liability</h3>
            <p>Glamify is not liable for any direct, indirect, incidental, special, or consequential damages that result from the use of, or inability to use, our website or the content on our website.</p>
    
            <h3>Changes to these Terms and Conditions</h3>
            <p>We may update these terms and conditions from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review these terms periodically.</p>
    
            <h3>Contact Us</h3>
            <p>If you have any questions or concerns about our terms and conditions, please do not hesitate to contact us at glamify@info.com
        </div>
    </section>

    

{% endblock %}