{% extends 'base.html' %}

{% block title %} <title>Login</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/wishlist"><i class="fa-solid fa-heart" style="color: #63E6BE;"></i></a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}
    
    <!-- Login Form -->
    <section id="login-form" class="section-p1 log">
        <h2>Login</h2>
        <form method="post" id="loginForm">
            {{ csrf_token }}
            {{ form_log.hidden_tag() }}
            {{ form_log.username(placeholder=form_log.username.label.text) }}
            {{ form_log.password(placeholder=form_log.password.label.text) }}
            {{ form_log.recaptcha(style=dark) }}
            <button type="submit">Login</button>
        </form>
        <p class="toggle-form">Don't have an account? <a href="#" id="toggleRegister">Register</a></p>
    </section>
 
{% endblock %}
{% block logo %} 
<div class="logo">
    <a href="/"><img src="{{ url_for('static', filename='images/logos/logo.png') }}" alt="logo" class="logo"></a>
</div>
{% endblock %}
{% block js_file %}
<script src="{{ url_for('static', filename='js/auth_login.js') }}"></script>
{% endblock %}