{% extends 'base.html' %}
{% block title %} <title>Register</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/wishlist"><i class="fa-solid fa-heart" style="color: #63E6BE;"></i></a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a class="active" href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}
    
    <!-- Registration Form -->
    <section id="registration-form" class="section-p1 log">
        <h2>Register</h2>
        <form method="post" id="registerForm">
            {{ csrf_token }}
            {{ form_reg.hidden_tag() }}
            <!-- Add your registration form fields here -->
            <div class="names">
                {{ form_reg.first_name(placeholder=form_reg.first_name.label.text) }}
                {{ form_reg.last_name(placeholder=form_reg.last_name.label.text) }}
            </div>
            {{ form_reg.dob(placeholder=form_reg.dob.label.text)}}
            {{ form_reg.email( placeholder=form_reg.email.label.text) }}
            {{ form_reg.phone( placeholder=form_reg.phone.label.text, id = "phone" ) }}
            {{ form_reg.location( placeholder=form_reg.location.label.text) }}
            {{ form_reg.username( placeholder=form_reg.username.label.text) }}
            {{ form_reg.password( placeholder=form_reg.password.label.text) }}
            {{ form_reg.confirm_password( placeholder=form_reg.confirm_password.label.text) }}
            <!-- {{ form_reg.recaptcha }} -->

            <button type="submit">Register</button>
        </form>
        <p class="toggle-form">Already have an account? <a href="#" id="toggleLogin">Login</a></p>
    </section>
 
{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/auth_register.js') }}"></script>
{% endblock %}