<!-- base.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Glamify{% endblock %}</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
    <nav>
        <ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="store">Store</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html> -->
