<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>

    <section id="header" class="section-p1">
        <a href="/"><img src="static/images/logos/logo.png" alt="logo" class="logo"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/store">Store</a></li>                
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="active" href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></i></a></li>
                <li><a href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
            </ul>
        </div>

    </section>

    <section id="about-header" class="section-p1">
        <div>
            <h2>My Cart</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, veritatis?</p>
        </div>
    </section>

    <section id="cart" class="section-p1">
        <div class="table-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in range(10)%}
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td><img src="static/images/models/modelone.jpg" alt="Product 1"></td>
                            <td><h3>Product Name {{i+1}}</h3></td>
                            <td><p>$10.00</p></td>
                            <td>
                                <button class="decrement-quantity-btn" onclick="decrementQuantity(this)">-</button>
                                <span class="quantity">1</span>
                                <button class="increment-quantity-btn" onclick="incrementQuantity(this)">+</button>
                            </td>
                            <td><p>$10.00</p></td>
                            <td><button class="remove-item-btn" onclick="removeCartItem(this)"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>

        </div>
    
        <div class="cart-total">
            <h3>Total</h3>
            <h4>Items: 3</h4>
            <h4>Subtotal: $30.00</h4>
            <h4>Tax: $3.00</h4>
            <h4>Total: $33.00</h4>
            <button class="checkout-btn">Checkout</button>
        </div>
    </section>
    
    
    

    <footer class="section-p1">
        <div class="logo">
            <a href="/"><img src="static/images/logos/logo.png" alt="logo" class="logo"></a>
        </div>

        <div class="footer-column">
            <div class="address">
                <h4>Contact</h4>
                <p><strong>Address: </strong> 1234 Baskin-Street, Sharjah, United Arab Emirates</p>
                <p><strong>Phone: </strong> +971 522 774 769</p>
                <p><strong>Email: </strong> touseefahmed0707@gmail.com</p>
                <p><strong>Hours: </strong> 8:00am - 12:00pm</p>
            </div>
    
            <div class="socials">
                <h4>Follow Us</h4>
                <div class="icon-links">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: aquamarine;"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter" style="color: aquamarine;"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color: aquamarine;"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in" style="color: aquamarine;"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <h4>About</h4>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>My Account</h4>
            <ul>
                <li><a href="profile.html">Sign in</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Install App</h4>
            <h5>From App Store or Google Play</h5>
            <div class="icon-links">
                <div class="icon-box">
                    <a href="#"><i class="fab fa-apple" style="color: aquamarine;"></i></a>
                    <p>Download in the App Store</p>
                </div>
                
                <div class="icon-box">
                    <a href="#"><i class="fab fa-google-play" style="color: aquamarine;"></i></a>
                    <p>Get in on PlayStore</p>
                </div>
            </div>
            <h5>Secured Payment Gateways</h5>
            <div class="icon-links">
                <a href="#"><i class="fab fa-cc-visa" style="color: aquamarine;"></i></a>
                <a href="#"><i class="fab fa-cc-mastercard" style="color: aquamarine;"></i></a>
                <a href="#"><i class="fab fa-cc-paypal" style="color: aquamarine;"></i></a>
            </div>
        </div>
    </footer>
    
    <section id="copyright">
        <p>&copy; 2021 Glamify. All Rights Reserved</p>
    </section>


    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>

    <script src="static/js/home.js"></script>
    <script src="https://kit.fontawesome.com/a1597cdc8f.js" crossorigin="anonymous"></script>
</body>
</html>