{% extends 'base.html' %}
{% block title %} <title>Cart</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="static/css/home.css">
<link rel="stylesheet" href="static/css/cart.css">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/wishlist"><i class="fa-solid fa-heart" style="color: #63E6BE;"></i></a></li>
<li><a class="active" href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}

    <section id="about-header" class="section-p1">
        <div>
            <h2>My Cart</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, veritatis?</p>
        </div>
    </section>

    <div class="alert show">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Warning: Your cart is empty!</span>
        <span class="close-btn">
            <span class="fas fa-times"></span>
        </span>
    </div>

    <section id="cart" class="section-p1">
        <div class="table-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in range(product_data_list | length) %}
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td><img src="{{product_data_list[i]['link']}}" alt="Product image"></td>
                            <td><h3>{{product_data_list[i]['productDisplayName']}}</h3></td>
                            <td><p>${{product_data_list[i]['price']}}</p></td>
                            <td>
                                <button class="decrement-quantity-btn" onclick="decrementQuantity(this)">-</button>
                                <span class="quantity">1</span>
                                <button class="increment-quantity-btn" onclick="incrementQuantity(this)">+</button>
                            </td>
                            <td><p>{{ "${:.2f}".format(product_data_list[i]['price'] * product_data_list[i]['quantity']) }}</p></td>
                            <td><button class="remove-item-btn" onclick="removeCartItem(this)"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>

        </div>
    
        <div class="cart-total">
           
            <div class="total-info">
                <h3>Cart Total</h3>
                <br>
                <div class="total-details">
                    <div>
                        <h4>Items</h4>
                        <h4>Subtotal</h4>
                        <h4>Tax</h4>
                        <h4>Shipping</h4>
                        <h4>Total</h4>
                    </div>
                    <div>
                        <h4>${{product_data_list | length}}</h4>
                        <h4>${{total_sum}}</h4>
                        <h4>${{tax}}</h4>
                        <h4>${{shipping}}</h4>
                        <h4>${{grand_total}}</h4>
                    </div>
                </div>
            </div>
            <form action="{{ url_for('checkout', source='cart') }}" method="post">
                <input type="text" id="coupon" placeholder="Apply Coupon (optional)">
                <button class="checkout-btn">Checkout</button>
            </form>
        </div>
    </section>

    
{% endblock %}

{% block js_file %}
<script src="static/js/cart.js"></script>
<script src="src="https://code.jquery.com/jquery-3.7.1.js""></script>

{% endblock %}