{% extends 'base.html' %}
{% block title %} <title>Home</title> {% endblock %}
{% block navlinks %}
<li><a class="active" href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}

<section id="container-one" class="section-p1">
    <div>
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button class="button" style="vertical-align:middle"><span>Shop Now</span></button>

    </div>
</section>

<section id="features" class="section-p1">

    <div class="fe-box">
        <img src="/static/images/illustrations/collections.png" alt="Great Collections">
        <h5>Great Collections</h5>
    </div>

    <div class="fe-box">
        <img src="/static/images/illustrations/deals.png" alt="Amazing Deals">
        <h5>Amazing Deals</h5>
    </div>

    <div class="fe-box">
        <img src="/static/images/illustrations/delivery.png"  alt="Free and Fast Shipping">
        <h5>Free and Fast Shipping</h5>
    </div>
    
    <div class="fe-box">
        <img src="/static/images/illustrations/services.png" alt="Customer Support 24/7<">
        <h5>Customer Support 24/7</h5>
    </div>

    <div class="fe-box">
        <img src="/static/images/illustrations/reviews.png" alt="Great Reviews">
        <h5>Reviews</h5>
    </div>

</section>

<section id="fe-products" class="section-p1">
    <h2>Featured Products</h2>
    <p>Brand New Collections with Aesthetic Designs</p>
    
    <div class="products-container">
        {% for item in fe_items %}
            <div class="product">
                <a href="{{url_for('product', gender=item.gender, item_id=item.id)}}" class="enclosed">
                    <img src="{{ item.link }}" alt="product">
                    <div class="description">
                        <span>{{item.masterCategory}} / {{item.subCategory}}</span>
                        <h5>{{ item.productDisplayName }}</h5>
                        <div class="stars">
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <h4>AED {{ item.price }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section id="container-two" class="section-p1">
    <h4>Repair Services</h4>
    <h2>Upto <span>70% Off</span> - All t-shirts & accessories</h2>
    <button class="button" style="vertical-align:middle"><span>Explore More</span></button>
</section>

<section id="new-products" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Explore some of the Latest in-Store</p>
    
    <div class="products-container">
        {% for item in new_items %}
            <div class="product">
                <a href="{{url_for('product', gender=item.gender, item_id=item.id)}}" class="enclosed">
                    <img src="{{ item.link }}" alt="product">
                    <div class="description">
                        <span>{{item.masterCategory}} / {{item.subCategory}}</span>
                        <h5>{{ item.productDisplayName }}</h5>
                        <div class="stars">
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <h4>AED {{ item.price }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section id="container-three" class="section-p1">
    <div class="banner-box">
        <h4>Crazy Deals</h4>
        <h2>Buy 2 Get 1 Free</h2>
        <span>The best classic dress is on sale at Glamify</span>
        <button class="button" style="vertical-align:middle"><span>Learn More</span></button>
    </div>
    <div class="banner-box">
        <h4>Spring / Summer</h4>
        <h2>Upcoming Season</h2>
        <span>Explore the latest collection for the upcoming season</span>
        <button class="button" style="vertical-align:middle"><span>Collection</span></button>
    </div>
</section>

<section id="container-four" class="section-p1">
    <div class="banner-box">
        <h2>Buy 2 Get 1 Free</h2>
        <span>The best classic dress is on sale at Glamify</span>
    </div>

    <div class="banner-box">
        <h2>Buy 2 Get 1 Free</h2>
        <span>The best classic dress is on sale at Glamify</span>
    </div>

    <div class="banner-box">
        <h2>Buy 2 Get 1 Free</h2>
        <span>The best classic dress is on sale at Glamify</span>
    </div>
</section>

{% endblock %}