{% extends 'base.html' %}
{% block title %} <title>Order Details</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/order_details.css') }}">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a class="active" href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}

    <section id="cart" class="section-p1">
        <div class="table-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for product_id, product in order.products.items() %}
                        <tr>
                            <td><img src="{{product['link']}}" alt="{{product.productDisplayName}}"></td>
                            <td><h3>{{ product.productDisplayName }}</h3></td>
                            <td><p>${{ product.price }}</p></td>
                            <td><p>{{ product.quantity }}</p></td>
                            <td><p>${{ product.price * product.quantity }}</p></td>
                            <td><a class="enclosed" href="{{ url_for('product', gender=product['gender'], item_id=product_id) }}">View Product</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="cart-total">
            <div class="total-info">
                <h3>Order Details</h3>
                <br>
                <div class="total-details">
                   <table class="table-summary">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <td>{{order.order_id}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Order Date</th>
                                <td>{{order.date}}</td>
                            </tr>
                            <tr>
                                <th>Order Status</th>
                                <td>{{order.status}}</td>
                            </tr>
                            <tr>
                                <th>Shipping Address</th>
                                <td>{{order.address}}</td>
                            </tr>
                            <tr>
                                <th>Subtotal</th>
                                <td>${{order.sub_total}}</td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>${{order.tax}}</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td>${{order.shipping}}</td>
                            </tr>
                            <tr>
                                <th>Coupon Applied</th>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>${{order.total}}</td>
                            </tr>
                        </tbody>
                   </table>
                </div>
            </div>
    </section>

{% endblock %}

{% block logo %} 
<div class="logo">
    <a href="/"><img src="{{url_for('static', filename='images/logos/logo.png')}}" alt="logo" class="logo"></a>
</div>
{% endblock %}