{% extends 'base.html' %}
{% block title %} <title>Order Details</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="static/css/home.css">
<link rel="stylesheet" href="static/css/order_details.css">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a class="active" href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}

    <section id="cart" class="section-p1">
        <div class="table-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                <tbody>
                    {% for i in range(5)%}
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td><img src="static/images/models/modelone.jpg" alt="Product 1"></td>
                            <td><h3>Product Name {{i+1}}</h3></td>
                            <td><p>$10.00</p></td>
                            <td><p>1</p></td>
                            <td><p>$10.00</p></td>
                            <td><a href="">View Product</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="cart-total">
            <div class="total-info">
                <h3>Order Details</h3>
                <br>
                <div class="total-details">
                   <table class="table-summary">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <td>123456</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Order Date</th>
                                <td>12/12/2021</td>
                            </tr>
                            <tr>
                                <th>Order Status</th>
                                <td>Delivered</td>
                            </tr>
                            <tr>
                                <th>Shipping Address</th>
                                <td>Dibba-Al-Fujairah</td>
                            </tr>
                            <tr>
                                <th>Subtotal</th>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td>$10.00</td>
                            </tr>
                            <tr>
                                <th>Coupon Applied</th>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>$110.00</td>
                            </tr>
                        </tbody>
                   </table>
                </div>
            </div>
    </section>

{% endblock %}