{% extends 'base.html' %}
{% block title %} <title>Product Details</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a class="active" href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}


{% block maincontent %}
    <section id="pro-details" class="section-p1">
        <input type="hidden" id="itemid_{{product_details.id}} value="{{product_details.id}}">
        <div class="single-pro-image">
            <img src="{{product_details.link}}" alt="product image">
        </div>
        <div class="details">
            <h2>{{product_details.productDisplayName}}</h2>
            <div class="stars">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </div>
            <h2>AED {{product_details.price}}</h2>
            <div class="sub-details">
                <div class="sub-details-1">
                    <h3>Product Details</h3>
                    <p><strong>Gender: </strong>{{product_details.gender}}</p>
                    <p><strong>Type: </strong>{{product_details.masterCategory}}</p>
                    <p><strong>Item: </strong>{{product_details.articleType}}</p>
                    <p><strong>Base Colour: </strong>{{product_details.baseColour}}</p>
                    <p><strong>Season: </strong>{{product_details.season}}</p>
                    <p><strong>Usage: </strong>{{product_details.usage}}</p>
                </div>
                <div class="sub-details-2">
                    <h3>Breif Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error veritatis, exercitationem aliquam recusandae reprehenderit odio? Maxime nemo odio laborum molestiae eos consectetur impedit nihil a nesciunt qui sit quam accusantium magnam illo dolorum perspiciatis rerum necessitatibus veritatis, reprehenderit id beatae deserunt quas possimus ex. Obcaecati fuga quisquam eius temporibus fugit?</p>
                    <div class="quantity-dropdown">
                        <label for="quantity">Quantity:</label>
                        <select class="quantity" data-item-id="{{ product_details.id }}" id="quantity" name="quantity">
                            <!-- Populate options dynamically based on product quantity -->
                            {% set quantity_int = product_details.quantity | to_int %}
                            {% for qty in range(1, quantity_int + 1) %}
                            <option value="{{ qty }}">{{ qty }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="buttons">
                        <button id="btn-cart" class="button" style="vertical-align:middle"><span>Add to Cart</span></button>
                        <!-- Remove the form tag around the Buy Now button -->
                        <button id="btn-checkout" class="button" style="vertical-align:middle"><span>Buy Now</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section id="fe-products" class="section-p1">
        <h2>Related Products</h2>
        <p>Brand New Collections with Aesthetic Designs</p>
        
        <div class="products-container">
            {% for item in fe_items %}
            <div class="product">
                <a class="enclosed" href="{{ url_for('product', gender=item.gender, item_id=item.id) }}">
                    <img src="{{ item.link }}" alt="product">
                    <div class="description">
                        <input type="hidden" id="itemid_{{item.id}}" value="{{ item.id }}">
                        <span>{{item.masterCategory}} / {{item.subCategory}}</span>
                        <h5>{{ item.productDisplayName }}</h5>
                        <div class="stars">
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        </div>
                        <h4>AED {{ item.price }}</h4>
                    </div>
                    <a class = "cart" href="#"><i class="fa-regular fa-heart" style="color: #096c74;"></i></a>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block logo %} 
<div class="logo">
    <a href="/"><img src="{{url_for('static', filename='images/logos/logo.png')}}" alt="logo" class="logo"></a>
</div>
{% endblock %}

{% block js_file %}
<script src="{{url_for('static', filename='js/product.js')}}"></script>
<script src="{{url_for('static', filename='js/store.js')}}"></script>
{% endblock %}
