{% extends 'base.html' %}
{% block title%} <title>Profile</title> {% endblock %}
{% block css_file %}
<link rel="stylesheet" href="static/css/home.css">
<link rel="stylesheet" href="static/css/profile.css">
{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a class="active" href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}


{% block maincontent %}

    <section id="profile" class="section-p1">
        <div class="profile-details">
        
            <div class="profile-column" id="profile-info">
                
                <div>
                    <h2>Personal Information</h2>
                    <p id="username"><i class="fa-solid fa-user" style="color: #083e62;"></i><strong>{{user.display_name}}</strong></p>
                    <p><strong>Full Name: </strong> {{ user.firstname+' '+user.lastname}}</p>
                    <p><strong>Email: </strong><a href="mailto:" class="email">{{user.email}}</a></p>
                    <p><strong>Phone: </strong> +971 522 774 769</p>
                    <p><strong>Address: </strong> {{user.address}}</p>
                    <div class="acc">
                        <a href="/profile_edit" class="button">Edit Profile</a>
                        <a href="/auth_logout" class="button">Logout</a>
                    </div>
                </div>
                <div class="bg-image">
                    <img src="static/images/bg6.jpg" alt="">
                    <img src="static/images/bg7" alt="">
                    <img src="static/images/bg8.jpg" alt="">
                    
                </div>
            </div>
            <div class="profile-column" id="order-history">
                <h2>Order History</h2>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.date }}</td>
                            <td>AED {{ order.total }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="button" href="/order_details">View Order</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}