{% extends 'base.html' %}
{% block title %} <title>Store</title> {% endblock %}


{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a class="active" href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}
    <section id="page-header" class="section-p1">
        <div>
            <h2>Super value deals</h2>
            <p>Save more with coupons & up to 70% off!</p>
        </div>
    </section>

    <section id="main">
        <div id="filter">
            <form action="{{ url_for('store') }}" method="GET">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                    <option value="">Select Gender</option>
                    <option value="men">Men</option>
                    <option value="women">Women</option>
                    <option value="boys">Boys</option>
                    <option value="girls">Girls</option>
                    <option value="unisex">Unisex</option>
                </select>
                <br>
                <label for="master_category">Master Category:</label>
                <select name="master_category" id="master_category">
                    <option value="">Select Master Category</option>
                    <option value="apparel">Apparel</option>
                    <option value="accessories">Accessories</option>
                    <option value="footwear">Footwear</option>
                    <option value="personal_care">Personal Care</option>
                    <option value="free_items">Free Items</option>
                </select>
                <br>
                <label for="sub_category">Sub Category:</label>
                <select name="sub_category" id="sub_category">
                    <option value="">Select Sub Category</option>
                    <option value="bags">Bags</option>
                    <option value="sandal">Sandal</option>
                    <option value="eyewear">Eyewear</option>
                    <option value="bottomwear">Bottomwear</option>
                    <option value="topwear">Topwear</option>
                    <option value="socks">Socks</option>
                    <option value="shoes">Shoes</option>
                    <option value="watches">Watches</option>
                    <option value="flip_flops">Flip Flops</option>
                    <option value="fragrance">Fragrance</option>
                    <option value="dress">Dress</option>
                    <option value="lips">Lips</option>
                    <option value="saree">Saree</option>
                    <option value="jewellery">Jewellery</option>
                    <option value="skin_care">Skin Care</option>
                    <option value="nails">Nails</option>
                    <option value="apparel_set">Apparel Set</option>
                    <option value="stoles">Stoles</option>
                    <option value="belt">Belt</option>
                    <option value="loungewear_nightwear">Loungewear and Nightwear</option>
                    <option value="shoe_accessories">Shoe Accessories</option>
                    <option value="makeup">Makeup</option>
                    <!-- Add more options for other sub categories -->
                </select>
                <br>
                <label for="season">Season:</label>
                <select name="season" id="season">
                    <option value="">Select Season</option>
                    <option value="winter">Winter</option>
                    <option value="summer">Summer</option>
                    <option value="fall">Fall</option>
                    <option value="spring">Spring</option>
                </select>
                <br>
                <label for="occasion">Occasion:</label>
                <select name="occasion" id="occasion">
                    <option value="">Select Occasion</option>
                    <option value="casual">Casual</option>
                    <option value="formal">Formal</option>
                    <option value="sports">Sports</option>
                </select>
                <br>
                <label for="color">Color:</label>
                <select name="color" id="color">
                    <option value="">Select Color</option>
                    <option value="red">Red</option>
                    <option value="beige">Beige</option>
                    <option value="green">Green</option>
                    <option value="white">White</option>
                    <option value="purple">Purple</option>
                    <option value="grey">Grey</option>
                    <option value="navy_blue">Navy Blue</option>
                    <option value="silver">Silver</option>
                    <option value="brown">Brown</option>
                    <option value="pink">Pink</option>
                    <option value="gold">Gold</option>
                    <option value="black">Black</option>
                    <option value="multi">Multi</option>
                    <option value="coffee_brown">Coffee Brown</option>
                    <option value="cream">Cream</option>
                    <option value="lime_green">Lime Green</option>
                    <option value="off_white">Off White</option>
                    <option value="burgundy">Burgundy</option>
                    <option value="maroon">Maroon</option>
                    <option value="charcoal">Charcoal</option>
                    <option value="olive">Olive</option>
                    <option value="orange">Orange</option>
                    <option value="mustard">Mustard</option>
                    <option value="bronze">Bronze</option>
                    <option value="blue">Blue</option>
                    <option value="steel">Steel</option>
                    <option value="yellow">Yellow</option>
                </select>
                <button type="submit">Apply Filters</button>
            </form>
        </div>
        <div class="mainsub">
            <div id="search">
                <form action="{{ url_for('store') }}" method="GET">
                    <input type="text" name="search" id="search" placeholder="Search for products">
                    <button type="submit"><i class="fa-solid fa-search" style="color: #ffffff;"></i></button> 
                </form>
            </div>
            <div id="fe-products" class="section-p1">
                <div class="products-container">
                    {% for item in fe_items %}
                        <div class="product">
                            <a class="enclosed" href="{{ url_for('product', gender=item.gender, item_id=item.id) }}">
                                <img src="{{ item.link }}" alt="product">
                                <div class="description">
                                    <span>{{item.masterCategory}} / {{item.subCategory}}</span>
                                    <!-- add a hidden tag that contains the item id -->
                                    <input type="hidden" id="itemid_{{item.id}}" value="{{ item.id }}">
                                    <h5>{{ item.productDisplayName }}</h5>
                                    <div class="stars">
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    </div>
                                    <h4>AED {{ item.price }}</h4>
                                </div>
                                <a class="cart" href="#"><i class="fa-regular fa-heart" style="color: #096c74;"></i></a>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>   
        </div> 
    </section>

    <section id="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>
    
{% endblock %}

{% block js_file %}
<script src="static/js/store.js" type="module"></script>
{% endblock %}