{% extends 'base.html' %}
{% block title %} <title>Wishlist</title> {% endblock %}
{% block css_file %} <link rel="stylesheet" href="static/css/bg.css"> {% endblock %}


{% block navlinks %}
<li><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>                
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cart"><i class="fa-solid fa-bag-shopping" style="color: #63E6BE;"></i></a></li>
{% if session['user_id'] %}
<!--Example<-->
<li><a class="active" href="/profile"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% else %}
<li><a class="active" href="/auth_register"><i class="fa-solid fa-user" style="color: #63E6BE;"></i></a></li>
{% endif %}

{% endblock %}

{% block maincontent %}
    
    <section id="about-header" class="section-p1">
        <div>
            <h2># Wishlist</h2>
            <p>Store your favorites here</p>
        </div>
    </section>

    <section id="fe-products" class="section-p1">
        <div class="products-container">
            {% for item in fe_items %}
            
            <div class="product">
                    <a class="enclosed" href="{{ url_for('product', gender=item.gender, item_id=item.id) }}">
                        <img src="{{ item.link }}" alt="product">
                        <div class="description">
                            <span>{{item.masterCategory}} / {{item.subCategory}}</span>
                            <h5>{{ item.productDisplayName }}</h5>
                            <div class="stars">
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                            </div>
                            <h4>AED {{ item.price }}</h4>
                        </div>
                        <a class = "cart" href="#"><i class="fa-solid fa-cart-shopping" style="color: #096c74;"></i></a>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}